services:
  pgdatabase:
    image: postgres:16
    
    environment:
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "root"
      POSTGRES_DB: "ny_taxi"
    volumes:
      - "C:\\Users\\xriph\\source\\DE-Zoomcamp-DockerWorkshop\\pipeline\\ny_taxi_postgres_data:/var/lib/postgresql/data"
    ports:
      - "5432:5432"
    networks: 
    - pg-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "root"
    volumes:
      - "C:\\Users\\xriph\\source\\DE-Zoomcamp-DockerWorkshop\\pipeline\\pgadmin_data:/var/lib/pgadmin"
    ports:
      - "8085:80"
    networks: 
    - pg-network



volumes:
  ny_taxi_postgres_data:
  pgadmin_data:

networks:
  pg-network:
    external: true